body html {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#profile {
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 150px;
}

div {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}